body {
  margin: 0;
  background-color: #121212;
  color: #f0f0f0;
  font-family: sans-serif;
}

.container.dark-mode {
  padding: 1rem;
}

.titulo {
  color: #90caf9;
}

.tarjeta {
  background: #1e1e1e;
  border: 1px solid #333;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.tarjeta-entregado {
  border-left: 4px solid #4caf50;
}

.tarjeta-en-camino {
  border-left: 4px solid #2196f3;
}

.tarjeta-con-demoras {
  border-left: 4px solid #ff9800;
}

.tarjeta-esperando-recogida {
  border-left: 4px solid #9c27b0;
}

.tarjeta-cancelado {
  border-left: 4px solid #f44336;
}
